.link{
    position: relative;
    background-color:rgb(143, 143, 143);
    writing-mode: vertical-rl;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100vh;
}

.menu-link{
    color: #fff;

}


.link:hover + .submenu{
    transform: translateX(0);
    color: rgb(143, 143, 143);
}

.submenu-item {
    color: #fff;
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
}


.submenu{
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-color:rgb(143, 143, 143);
    transform: translateX(-100%);
    transition: transform 400ms ease-in-out;
    list-style: circle;
}