.menu {
    scroll-behavior: smooth;
}
    

.menu-item {
    position: relative;
    margin-right: 15px;
}

.menu-item:hover .submenu {
    transform: translateX(0%);
}


.link {
display: flex;
    transform: rotate(90deg);
    width: 7%;
    height: 100%;
}

.menu-link {
    background-color: #616161;
    position:absolute;
    
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: aliceblue;
    font-size: 30px;
    z-index: 1;
}
.submenu {
    width: 100%;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 10px;
    background-color: #616161;
    transform: translateX(-100%);
    transition: transform 400ms ease-in-out;
    z-index: 0;
    height: 100%;
    width: 10%;
}
.submenu-item {
    color: aliceblue;
}


.submenu-item:hover {
    color: rgb(253, 203, 109);
}

.submenu-link {
    list-style: 5px circle orange;
}