#info{
    background-color: #3E3E3E;
}
.menu {
    display: flex;
    background-color: #5d498d;
    width: 20vw;
    height: 100%;
    color: #FFF;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    transform: translateX(-90%);
    transition: all 400ms ease-in-out;
}

.menu:hover{
    transform: translateX(0%);
}

.menu:hover .menu__title{
    display: none;
}

.menu__list{
    margin-left: 50px;
}

.menu__item {
    color: #FFF;
    font-size: 32px;
    list-style: circle;
}


.menu__title {
    writing-mode: vertical-rl;
    color: #FFF;
    font-size: 20px;
}